#start-screen {
  color: white;
  display: flex;
  flex-direction: column;
}

#instruction-canvas {
  opacity: 0.9;
  border: 2px solid white;
  border-radius: 5px;
  width: 50%;
  font-size: 22px;
}

#game-description {
  display: flex;
  height: 100%;
  margin: 10px;
}

#game-description > div {
  flex-grow: 1;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  width: 100%;
  height: 100%;
}

#logo{
  font-size: 3em;
}

.button{
  display: block;
  text-align: center;
  line-height: 6vh;
  color: black;
  background: gray;
  width: 30vh;
  height: 6vh;
  margin: 20px auto;
  text-decoration: none;
  border: 4px solid black;
  border-radius: 10px;

}

.button:hover{
    background: black;
    color: white;
    border-color: gray;
}

#game-screen {
    width: 100%;
    height: 100%;
    display: none;
}

#game-screen-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameboy {
  width:80vw;
  height: 90vh;
  left: 10vw;
  border: solid white 1px;
}

#result{
  color: white;
  font-size: 0.5em;
  float: right;
}

#logo_img{
  height: 30vh;
}

.top-bar {
  width: 100%;
  height: 10%;
  color: white;
  display: flex;
}

.top-bar #score {
  flex-grow: 1;
  text-align: right;
}

.top-bar #current-score.gain {
  animation-name: score-gain;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes score-gain {
  0% { font-size: 100%; }
  100% { font-size: 125%; color: yellow}
}

.timer-end-soon {
  animation-name: end-soon;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  color: red;
}

@keyframes end-soon {
  0% { transform: rotate(-30deg) }
  50% { transform: rotate(30deg) }
  100% { transform: rotate(-30deg) }
}

.top-bar #time {
  flex-grow: 2;
  text-align: center;
}

.top-bar #life {
  flex-grow: 1;
}

#maze {
  width: 35vw;
  height: 35vw;
  margin: 0 10%;
  position: relative;
  opacity: 1;
  transition: all 2s;
}

#maze.game-over {
  opacity: 0.3;
}

#maze img {
  position: absolute;
}

.control-panel{
  position: relative;
  top: 65%;
  left: 10%;
  width: 80%;
  height: 20%;
  border:solid yellow 5px;
  border-radius: 10px;
  background-color: grey;
}

body{
  background-color: black;
  font-size: 30px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

#pac-man {
  position: absolute;
  transition: all 0.3s;
}

#pac-man.damage {
  animation-name: damage;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

@keyframes damage {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}

.coin {
  animation: coin-rotate 2s linear 0s infinite;
}

@keyframes coin-rotate {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(-360deg); }
}

.pill {
  animation: pill-vibrate 1s linear 0s infinite;
}

@keyframes pill-vibrate {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@keyframes gameover-animation {
  from { transform: rotate(0deg); font-size: 1px; opacity: 0; }
  to   { transform: rotate(720deg); font-size: 100%; opacity: 1; }
}

.ghost {
  animation-name: ghost;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes ghost {
  0% { opacity: 1; transform: rotate(15deg); }
  50% { opacity: 0.5; transform: rotate(-15deg); }
  100% { opacity: 1; transform: rotate(15deg); }
}

#game-result{
  background: white;
  position: absolute;
  display: none;
	      animation-name: gameover-animation;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
}
