.canvas{
  width:80vw;
  height: 90vh;
  /* background-color: grey; */
  margin: 0 0 0 0;
  padding: : 0 0 0 0;
  border: solid white 1px;
}

#start-screen{
  /* width:80vw;
  height: 90vh;
  border: white solid; */
  position: absolute;
  color: white;
}

#instruction-canvas{
  position: absolute;
  background-color: grey;
  color: white;
  opacity: 0.9;
  display: none;
}

#close-instruction{
    position: relative;
    left: 92%;
    color: white;
}


#logo{
  font-size: 3em;
}

.button{
    font-size: 1.2em;
    color: grey;
}

.button:hover{
    font-size: 1.3em;
    color: red;
    text-decoration: underline;
}

#game-screen{
  /* opacity: 0.4; */
    display: none;
}

#gameboy{
  position: absolute;
  left: 10vw;
}

#result{
  position: relative;
  left:80%;
  color: white;
  font-size: 0.5em;

}

#logo_img{
  height: 30vh;
}

.top-bar{
  position: absolute;
  top: 2%;
  left: 2%;
}

.top-bar-button:hover{
  opacity: 0.5;
}

.maze{
  position: absolute;
  left: 10%;
  width: 80%;
  height: 60%;
  border:double blue 5px;
}

.control-panel{
  position: relative;
  top: 65%;
  left: 10%;
  width: 80%;
  height: 20%;
  border:solid yellow 5px;
  border-radius: 10px;
  background-color: grey;
}


body{
  background-color: black;
  font-size: 30px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
